body {
  overflow-x: hidden
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.container-box {
  width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.aquapark-event-input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid var(--light-gray-light-gray-2, #DDE2E4);
  background: var(--black-white-white, #FFF);
  outline: none;
}

.aquapark-event-input::placeholder {
  color: #1F1F1F;
  opacity: 1;
}


@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/Gilroy-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./assets/fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
 
 

@media screen and (max-width:480px) {
  .container-box {
    width: 100%;
    padding: 0 16px;
  }
}